RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
#php_value session.save_path "/home/httpd/vhosts/ladesp.com.br/httpdocs/tmp"

